#capa{
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 28px;
    align-items: center;



    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://static.vecteezy.com/ti/vetor-gratis/t2/5182631-fundo-abstrato-laranja-com-fundo-de-estilo-moderno-onda-gradiente-amarelo-fundo-abstrato-vetor.jpg")

    

}

#projeto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 50px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
p{
    font-size: 22px;
    text-align: center;
}
body{
    background-color: rgb(253, 253, 204);
}
